<div style="height:1.8em">
<!--<input type="button" id="{{id}}" name="{{id}}" value="{{label}}" class="pulse" onclick="fieldChanged();" />-->
<button id="{{id}}" name="{{id}}" class="pulse" onclick="fieldChanged();return false;"><span style="font-size:80%">{{label}}</span></button>
</div>