<div style="height:1em; position:relative;">
  
  <output style="position: absolute;right: 10px;top: -1em;font-size: 50%;">{{value}}</output>
  <input type="range" min="{{min}}" max="{{max}}" id="{{id}}" name="{{id}}" value="{{value}}" oninput="this.previousElementSibling.value = this.value" />
  
</div>